version: 2

updates:
  - package-ecosystem: gomod
    directory: /app/
    schedule:
      interval: weekly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly