# For local development only - NOT PRODUCTION.
version: '3'

services:
  db:
    image: tinkerpop/gremlin-server
  server:
    build: app
    depends_on:
      - db
    environment:
      - ORBITAL_DB_ADDRESS=ws://db:8182
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
    ports:
      - 5000:5000
  ui:
    build: ui
    ports:
      - 8000:8000